apiVersion: 1

providers:
  - name: teamster
    orgId: 1
    type: file
    disableDeletion: false
    updateIntervalSeconds: 30
    allowUiUpdates: true
    options:
      path: {{ .GrafanaDir }}/dashboards
      foldersFromFilesStructure: false
