[Unit]
Description=Teamster Prometheus server
After=network.target

[Service]
Type=simple
User=__USER__
WorkingDirectory=__BASEDIR__
ExecStart=__BASEDIR__/bin/teamster start --exec=prometheus
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
